# Basics

django==1.11.6
djangorestframework==3.7.1

# Templates
django-bootstrap-form==3.3
jinja2==2.9.6

# Debugging
raven==6.3.0

# Security
django-axes==2.3.3

# Data parsing
beautifulsoup4==4.6.0
html5lib==1.0b10
cchardet==2.1.1

# Networking
requests==2.18.4

# Utils
django-model-utils==3.0.0
pyshorteners==0.6.1
pytz==2017.2
unipath==1.1

# Testing
selenium==3.6.0

# Documentation
sphinx==1.6.5
sphinx-rtd-theme==0.2.4
pypandoc==1.4
