{% extends "base.html" %}

{% block title %}{% trans %}Reset my password{% endtrans %}{% endblock %}

{% block content %}
    <p>{% trans %}Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.{% endtrans %}</p>
    <form method="post">
        {{ form|bootstrap }}
        {{ csrf_input }}
        <input type="submit" value="{% trans %}Reset my password{% endtrans %}" class="btn btn-success"  />
    </form>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript">document.getElementById("id_email").focus();</script>
{% endblock %}